body{
height:100vh;
margin: auto;
width: 100vw;
background-color: black;
color: white;
overflow:visible;
}

body h1{
    font-family: Helvetica;
}
body h2{
    font-family: Helvetica;
}
.nav{
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:fit-content;
    font-size: 20px;
    border:  px;
    border-color:white ;
    text-decoration: none;
    position: sticky;
    left: 0%;
}
.nav a{
    font-family: monospace;
    color: white;
    display: block;
    width:fit-content;
    text-decoration: none;
    padding: 8px 16px;
    text-align: left;
}

.nav a:hover{
    background :white;
    color: black;
    border-radius:10px ;
}
/*
navigation
*/


.about_block h1{
color : white;  
text-align: center;
font-family:Helvetica; 
font-size: 50px;        
}

.about_block{
    width: 600px;
    color: white;
    font-family: Verdana;
    position: relative;
    top : 60%;
    left: 70%;
    text-align: center;
}
.cad_block {
position: relative;
left: 150%;
top:70%;
width: 400px;
text-align: left;
color: aquamarine;
}

.website_block{
color : greenyellow ;
position: relative;
width : 400px;
left: 40%;
}
td{
    border:1px;
    border-color: aliceblue;
    border:solid;
    width : 400px;
    text-align: center;
    font-size: 15px;
    font-family: monospace;
}
th{
    border:1px;
    border-color: aliceblue;
    border:solid;
    width: 400px;
    font-size: 15px;
}
.align{
    transform: translateX(-500px)translateY(-900px);
    }

.no {
    transform: translateX(-700px)translateY(-950px);
}

/*.vt{
    transform: translateX(800px)translateY(-2330px);
} 
